body {
  padding-top: 100px;
}
.starter-template {
  text-align: center;
}

th{
	text-align: center;
}

td{
	text-align: center;
}


.swagpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 290px;
	width: 290x:
}


.draggable {
	width: 300px;
	height: 300px; 
	margin: auto;
}