<div class="navbar navbar-fixed-top navbar-inverse" id="collapsing_navbar">
  <div class="container">
    <div class="navbar-header">
      <div class="nav-collapse">
        <ul class="nav navbar-nav" >
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-top secondnavbar">
  <div class="container">
    <div class="navbar-header">
      <div class="nav-collapse">
        <ul class="nav navbar-nav" >
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#food_drink" class="nav-expander">Food/Drink</a></li>
          <li><a href="#beauty" class="nav-expander">Beauty</a></li>
          <li><a href="#health_hygiene" class="nav-expander">Health/Hygeine</a></li>
          <!-- dropdown -->
        </ul>
        <!-- /.nav -->
      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.navbar-inner -->
</div>
<!-- /.navbar -->

<p>TestTestTest</p>
<div class="collapser_button">
  <button type="button" id="collapser2" class="btn btn-danger"> <!-- data-toggle="collapse" data-target="#top_navbar" onclick='$(".collapse").collapse()'>-->
    simple collapsible
  </button>
</div>

<script> 
  var count = 0;
  $(document).ready(".nav-expander").click(function() {
    if (count % 2 == 0) {
      $(".secondnavbar").animate({
        "marginTop":"55px"}, 500);
      count +=1;
    }
    else{
      $(".secondnavbar").animate({
        "marginTop":"0px"}, 500);
      count -=1;
    }
  });
</script>